# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.spec
*.pyzw

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments (Rất quan trọng)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myvenv/

# IDE configuration files
.idea/      # PyCharm, IntelliJ
.vscode/    # VS Code
*.swp
*.swo

# OS-specific files
.DS_Store   # macOS
Thumbs.db   # Windows

# Streamlit-specific cache
.streamlit/